<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  

  <gazebo reference="left_wheel">
    <mu1>4</mu1>
    <mu2>4</mu2>
  </gazebo>

  <gazebo reference="right_wheel">
    <mu1>4</mu1>
    <mu2>4</mu2>
  </gazebo>

  <gazebo reference="base_link">
    <material>Gazebo/Gray</material>
  </gazebo>

  <xacro:property name="M_PI" value="3.1415926535897931"/>
  <xacro:macro name="rplidar_a2_gpu" params="name ros_topic update_rate ray_count min_angle max_angle">
    <gazebo reference="${name}_frame">
      <sensor name="${name}" type="ray">
        <update_rate>${update_rate}</update_rate>
        <pose>0 0 0 0 0 0</pose>
        <visualize></visualize>
        <ray>
          <scan>false
            <horizontal>
              <samples>${ray_count}</samples>
              <resolution>1</resolution>
              <min_angle>${min_angle * M_PI/180}</min_angle>
              <max_angle>${max_angle * M_PI/180}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.15</min>
            <max>12.0</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.004</stddev>
          </noise>
        </ray>
        <plugin filename="libgazebo_ros_laser.so" name="gazebo_ros_${name}_controller">
          <topicName>${ros_topic}</topicName>
          <frameName>${name}_frame</frameName>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
  
  <xacro:rplidar_a2_gpu max_angle="360" min_angle="0" name="rplidar_a2" ray_count="400" ros_topic="/myrobot/rplidar/scan" update_rate="20"/>

  <xacro:macro name="ir_sensor_gazebo" params="name *topic_name *frame_name">
    <gazebo reference="ir_sensor_${name}">
      <material>Gazebo/Green</material>
       <sensor type="ray" name="ir_sensor_${name}_abc">
          <pose>0 0 0 0 0 0</pose>
          <update_rate>50</update_rate>
          <visualize>true</visualize>
          <always_on>true</always_on>
          <ray>
             <scan>
                <horizontal>
                   <samples>1</samples>
                   <resolution>1.0</resolution>
                   <min_angle>-0.01</min_angle>
                   <max_angle>0.01</max_angle>
                </horizontal>
                <vertical>
                   <samples>1</samples>
                   <resolution>1</resolution>
                   <min_angle>-0.01</min_angle>
                   <max_angle>0.01</max_angle>
                </vertical>
             </scan>
             <range>
                <min>0.01</min>
                <max>0.35</max>
                <resolution>0.02</resolution>
             </range>
          </ray>
          <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
             <gaussianNoise>0.005</gaussianNoise>
             <alwaysOn>true</alwaysOn>
             <updateRate>5</updateRate>
             <xacro:insert_block name="topic_name"/>
             <xacro:insert_block name="frame_name"/>
             <visualize>true</visualize>
             <radiation>infrared</radiation>
             <fov>0.436</fov>
          </plugin>
       </sensor>            
    </gazebo>
  </xacro:macro>


  <xacro:ir_sensor_gazebo name="front_0">
    <topicName>/myrobot/sensor/front_0</topicName>
    <frameName>ir_sensor_front_0</frameName>
  </xacro:ir_sensor_gazebo>

  <xacro:ir_sensor_gazebo name="front_1">
    <topicName>/myrobot/sensor/front_1</topicName>
    <frameName>ir_sensor_front_1</frameName>
  </xacro:ir_sensor_gazebo>

  <xacro:ir_sensor_gazebo name="front_2">
    <topicName>/myrobot/sensor/front_2</topicName>
    <frameName>ir_sensor_front_2</frameName>
  </xacro:ir_sensor_gazebo>

</robot>
